:root {
  --bg-color: #2093eb;
}
body {
  font-family: Arial, Helvetica, sans-serif !important;
  background-color: rgba(230, 230, 230, 0.76) !important;
}
#navbar {
  background-color: var(--bg-color) !important;
}
a {
  text-decoration: none !important;
  color: unset !important;
}

.css-1191obr-MuiPaper-root-MuiAppBar-root {
  z-index: 50 !important;
}

label {
  font-weight: bolder;
}

/* Thay đổi kiểu hiển thị cho tablet và mobile */
@media (max-width: 1200px) {
  .login-banner {
    display: none;
  }
}

/* Kiểu hiển thị cho máy tính (màn hình lớn) */
@media (min-width: 1210px) {
  .login-banner {
    display: block;
  }
}
