/** @format */

p {
  margin-bottom: 0 !important;
}
.industry-table {
  border: 1px solid #bebebe !important;
}
.detail-industry {
  background-color: #fff !important;
  max-width: 100vw !important;
  display: flex !important;
}
.select-status {
  max-width: 100% !important;
}
/* .form-row {
  display: flex !important;
} */
.nut {
  width: 100%;
}
